<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新增使用者</title>
    <link rel="stylesheet" href="./css/adduser.css" type="text/css">
</head>
<body>
    <div class="container">
        <h1>註冊使用者</h1>
        <input type="text" id="username" placeholder="使用者名稱">
        <input type="password" id="password" placeholder="使用者密碼">
        <input type="password" id="confirmPassword" placeholder="確認密碼"> <!-- 新增確認密碼欄位 -->
        <button id="signup">註冊</button>
        <div id="responseMessage" style="margin-top: 10px; color: green;"></div>
        <!-- 顯示回傳訊息 -->
    </div>
    <script src="/js/adduser.js"></script>
</body>
</html>